@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: 'Roboto' , 'Inter', sans-serif; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
h1{
  font-size: 38px !important;
}
h2{
  font-size: 36px !important;
}
h3{
  font-size: 20px !important;
}
p, div{
    font-size: 16px ;
}
button{
  font-size: 16px !important;
}


@media screen and (min-width: 1536px) {
    .container {
        max-width: 1366px !important;
    } 
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Header scroll state classes */
/* .custom-background{
position: relative;
}
.custom-background::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
z-index: -1;
} */

.work-with-us-features ul{
  padding-left: 35px;
}
.work-with-us-features ul li{
list-style: disc;
}
.our-services-wrapper>div{
  cursor: default;
}
.card-element{
  transition: all .8s ease;
}
.mobile-block{
 position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
display: none;
width:100%;
transition: opacity .8s ease;
padding: 10px;
}
.mobile-none{
  transition: opacity .8s ease;
}

.work-with-us-features .active-showing-content{
  transition: all .8s ease;
}
.work-with-us-features .active .mobile-block ul{
  padding-left: 12px !important;
}
.collapsible-element{
  width: 0;
  visibility: hidden;
  height: 0;
  transition: width 0.8s ease;
}
.collapsible-element p{
  display: block !important;
}

@media screen and (max-width: 767px) {
  .footer .footer-wrapper{
  text-align: center;
  /* gap: 40px; */
  }
  .footer .footer-wrapper img{
  margin: 0 auto;
  }
  .footer .social-media-wrapper{
  justify-content: center;
  }

  h1, h2{
    font-size: 22px !important;
  }
  .hero-section h1{
    line-height: 30px !important;
    margin-bottom: 10px;
  }
  .hero-section h1 span{
    display: block;
  }
  .hero-section p{
    line-height:25px;
    font-size: 12px !important;
  }
  .hero-section .banner-content img{
    width: 18px;
    height: 18px;
  }
  .btn{
    padding-left: 30px;
    padding-right: 30px;
  }
.our-services-wrapper>div div{
  background: transparent !important;
}
.our-services-wrapper>div{
position: relative;
padding:20px;
cursor: pointer;
align-content: center ;
align-items: center;
}
.our-services-wrapper div p{
display: none;
}

.mobile-block{
  display: block;
}
.our-services-wrapper div .mobile-block p{
  display: block;
}

.our-services-wrapper .active{
  grid-column: 1 / 3;
}
.our-services-wrapper .active .collapsible-element{
  visibility: visible;
  height: 100%;
  width: 50%;
}
.our-services-wrapper .active .mobile-none{
width: 50%;
}
.our-services-wrapper .active{
  display: flex;
  gap:20px;
}

/* .our-services-wrapper .active .mobile-block{
  opacity: 1;
}
.our-services-wrapper .active .mobile-none{
  opacity: 0;
} */
.our-services-wrapper div h3{
font-size: 16px !important;
}
.mobile-none img{
  width: 40px;
}
.work-with-us-features .mobile-none{
  display: none;
}
.work-with-us-features .active .active-showing-content{
  opacity: 0;
}
.work-with-us-features .active .mobile-block{
  opacity: 1;
}
.cta-section .container{
  padding:0 !important;
}
.cta-section .container h2{
  font-size:20px !important;
}
}
